<div class="flex justify-start content-center border-b border-gray-900/10">
  <div class="col-span-3 ml-4 w-1/2">
    <input
      list="searchCustomerText-list"
      id="search-customer-text"
      type="text"
      name="searchCustomerText"
      placeholder="Buscar cliente"
      class="input input-bordered w-full"
      (change)="onSelectionSearchCustomerChange($event)"
      [value]="searchCustomerText()"
    />
    <datalist
      id="searchCustomerText-list"
      class="datalist datalist-bodered w-full max-h-[100px] overflow-y-auto"
    >
      <option disabled selected>Seleccionar un cliente</option>
      @for (item of customersFound(); track item.id) {
      <option [value]="item.displayName" [tabIndex]="item.id"></option>
      }
    </datalist>
  </div>

  <div class="col-span-2 ml-2">
    <button
      class="btn btn-primary"
      type="button"
      (click)="onSearchCustomerBtn()"
    >
      Buscar
    </button>
  </div>
  <div class="divider"></div>
</div>
