<div class="overflow-x-auto bg-gray-900 rounded-2xl p-4">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>
          <button
            class="btn btn-primary"
            type="button"
            onclick="contact_modal.showModal()"
          >
            Nuevo Contacto
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @if(contactsInput() == null || contactsInput().length == 0) {
      <tr>
        <td colspan="10">
          <div class="alert alert-info">
            <span>No hay contactos</span>
          </div>
        </td>
      </tr>
      }@else { @for (item of contactsInput(); track item.id) {

      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>{{ item.displayName }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.email }}</td>
        <th>
          <a
            class="btn btn-ghost text-accent btn-md"
            (click)="onRemoveContact(item)"
            ><div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="0.8"
                stroke="currentColor"
                class="w-6 h-6 text-white"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z"
                />
              </svg></div
          ></a>
          <a
            class="btn btn-ghost text-accent btn-md"
            onclick="contact_modal.showModal()"
            (click)="onEditContact(item)"
            ><div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="0.8"
                stroke="currentColor"
                class="w-6 h-6 text-white"
              >
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
                />
              </svg></div
          ></a>
        </th>
      </tr>
      } }
    </tbody>
  </table>
</div>
<dialog id="contact_modal" class="modal">
  <div class="p-4 overflow-y-auto flex-grow">
    <div class="modal-box w-12/13 max-w-5xl h-auto max-h-[90vh]">
      <div class="flex flex-col gap-2">
        <form [formGroup]="contactForm">
          <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-lg font-bold">Nuevo Contacto</h2>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-6">
                <label for="first-name" class="block text-sm/6 font-medium"
                  >Nombre</label
                >
                <div class="mt-2">
                  <input
                    id="displayName"
                    type="text"
                    name="displayName"
                    placeholder="Nombre contacto"
                    class="input input-bordered w-full"
                    formControlName="displayName"
                    (change)="onInputChange($event)"
                  />
                </div>
              </div>

              <div class="sm:col-span-6">
                <label for="first-name" class="block text-sm/6 font-medium"
                  >Cargo</label
                >
                <div class="mt-2">
                  <input
                    id="position"
                    type="text"
                    name="position"
                    placeholder="Cargo de trabajo"
                    class="input input-bordered w-full"
                    formControlName="position"
                    (change)="onInputChange($event)"
                  />
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="first-name" class="block text-sm/6 font-medium"
                  >Teléfono</label
                >
                <div class="mt-2">
                  <input
                    id="phone"
                    type="text"
                    name="phone"
                    placeholder="Teléfono"
                    class="input input-bordered w-full"
                    formControlName="phone"
                    (change)="onInputChange($event)"
                  />
                </div>
              </div>

              <div class="sm:col-span-6">
                <label for="first-name" class="block text-sm/6 font-medium"
                  >Email</label
                >
                <div class="mt-2">
                  <input
                    id="email"
                    type="text"
                    name="email"
                    placeholder="Correo electrónico"
                    class="input input-bordered w-full"
                    formControlName="email"
                    (change)="onInputChange($event)"
                  />
                </div>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onAddContact()"
            onclick="contact_modal.close()"
          >
            Agregar
          </button>
        </form>
      </div>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn btn-default">Close</button>
        </form>
      </div>
    </div>
  </div>
</dialog>
