<div class="overflow-x-auto bg-gray-900 rounded-2xl p-4">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Nombre/Razón Social</th>
        <th>Rut</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      @for (item of providers(); track item.id) {
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>{{ item.person.displayName }}</td>
        <td>{{ item.person.rut }}</td>
        <th>
          <a
            [routerLink]="['/admin/providers', item.id]"
            class="btn btn-ghost text-accent btn-xs"
            >Detalles</a
          >
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>
